* {
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  padding: 10px 10px;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  max-width: 500px;
  width: 100%;
  background-color: gray;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(2, 2, 10, 0.08);

}
h2 {
  text-align: center;
  border-bottom: 1px solid #1e293b;
  color: #1e293b;
}

input {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}

select {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}
input:hover{
  transform: translateY(-2px);
}

select:hover {
  transform: translateY(-2px);
}

input::placeholder {
  color: #64748b;
  font-weight: bold;
}

button {
  margin-top: 20px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  background-color: #1e293b;
  color: white;
}
button:hover {
  margin-top: 20px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  background-color: #313e53;
  color: white;
}
